@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   CSS RESET
*/
div{
display:block;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a:link    {text-decoration:none; color: black;}
a:visited {text-decoration:none; color: black;}
a:active  {text-decoration:none; color: black;}
a:hover  {text-decoration:none; color: black;}

.bg{

position:absolute;
z-index:1000;
width:100%;
height:100%;
background:#2d2d2d;

}

/*
	웹폰트
*/	
/*
	@font-face{
	font-family:"BebasNeue";
	src:url('../font/BebasNeue.eot');
	src:url('../font/BebasNeue.eot?#iefix') format('opentype'),
		 url('../font/BebasNeue.woff') format('woff'),
		 url('../font/BebasNeue.otf') format('opentype');
	src:local(※), url('../font/BebasNeue.woff') format('woff');
	font-style: normal;
	font-weight: lighter;
}
	@font-face{
	font-family:"steelfish";
	src:url('../font/SteelfishRg-Regular.eot');
	src:url('../font/SteelfishRg-Regular.eot?#iefix') format('opentype'),
	url('../font/steelfishrg.woff') format('woff'),
	url('../font/steelfishrg.ttf') format('truetype');
	src:local(※), url('../font/steelfishrg.woff') format('woff');
	font-style: normal;
	font-weight: normal;
}
*/
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  src: url('../font/NanumGothic-Regular.ttf');
}



/*custom_scroll
::-webkit-scrollbar {
     width:6px;
	 height:6px;
	 background-color:white;
}
::-webkit-scrollbar-track-piece  {
   	background-color:rgba(255, 0, 0, 0.0);
}
::-webkit-scrollbar-thumb {
   background-color:rgb(243,112,33);
}
*/

/*project_custom_scroll*/
/*
::-webkit-scrollbar {
     width:8px;
	 height:10px;
	 background:#000000;
}
::-webkit-scrollbar-track-piece  {
   	background-color:rgba(255, 0, 0, 0.0);
}
::-webkit-scrollbar-thumb {
	background-color:#808080
}

::-webkit-scrollbar-thumb:vertical 
{
    height: 50px;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #B0B0B0), color-stop(100%, #808080));
    border: 1px solid #808080;
    border-top: 1px solid #808080;
	border-right: 1px solid #808080;
    border-left: 1px solid #808080; 
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:horizontal 
{
    width: 50px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #B0B0B0), color-stop(100%, #808080));
    border: 1px solid #808080;
    border-top: 1px solid #808080;
	border-right: 1px solid #808080;
    border-left: 1px solid #808080; 
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}*/

html{width: 100%;
  height: 100%; }
body{ 
	width: 100%;
  height: 100%;
    line-height: 1;

/* IE 스크롤바 */
/* SCROLLBAR-FACE-COLOR: #808080; 스크롤바 */
/* SCROLLBAR-HIGHLIGHT-COLOR: #000000; 뒷배경 */
/* SCROLLBAR-SHADOW-COLOR: #2d2d2d;  스크롤바 테두리 */
/* SCROLLBAR-ARROW-COLOR: #fff; 화살표버튼 */
}



BODY,TD,SELECT,input,DIV,form,TEXTAREA,center,option,pre,blockquote {font-family:굴림;font-size:12pt;color:#555555;}
/*A:link    {color:#fff;text-decoration:none;}
A:visited {color:#fff;text-decoration:none;}
A:active  {color:#fff;text-decoration:none;}
A:hover  {color:gray;text-decoration:none;}*/

*{padding:0; margin:0; }

ul,li{list-style:none; }

/*드래그 색깔*/
*::selection { background:rgb(247,147,30); color:#fff; }
*::-moz-selection { background:rgb(247,147,30); color:#fff; }
.all-wrap{
width: 100%;
  height: 100%;
  position: absolute;
  padding: 20px;
  box-sizing: border-box;
background: #fff;
}

.light_box_btn_close{
cursor:pointer;
float:right;
  top: -4px;
  position: relative;
}

.light_box_group{
  width: 100%;
  height: 100%;
}



.light_box_group h1{
font: 1.6em "Nanum Gothic",sans-serif;
color:rgb(245,130,32);
margin-left:10px;  
margin-top: 10px;
margin-bottom:20px;
}

.light_box_group .line{
margin-top:20px;
margin-bottom:20px;
width:200px;
height:1px;
background:rgb(245,130,32);
}


.light_box_title{
font: 1.0em "Nanum Gothic",sans-serif;
color:rgb(245,130,32);
}

.light_box_body{
width: 100%;
height: -webkit-calc(100% - 56px);
height: -moz-calc(100% - 56px);
height: calc(100% - 56px);
overflow:auto;
 -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

.like_people{
height: 34px;
padding: 12px 0px;
position: relative;
line-height: 0.8;
border-bottom:1px solid #e9eaed;
}
.like_people img{
float: left;
display:block;
}

.like_people .name{
display:inline;
vertical-align: middle;
font: 1.0em "Nanum Gothic",sans-serif;
font-weight:bold;
margin-left: 7px;
}

.like_people .level{
display:inline;
vertical-align: middle;
font: 0.9em "Nanum Gothic",sans-serif;
margin-left: 7px;
}